Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

Renovate
  composer.json
Labels: none

Composer
  composer.json
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update scripts/install/tools/frontend/admin-control-panel-install.sh
  scripts/install/tools/frontend/admin-control-panel-install.sh
Labels: core

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Updates
  config/var/www/admin/control-panel/controllers/UptimeController.php
  scripts/functions/shared/enginescript-shared-vhost.sh
Labels: core, configuration

Remove 2026-03-23 changelog entry
  CHANGELOG.md
Labels: documentation

Remove VHOST SHARED SCRIPT bug fixes from CHANGELOG
  CHANGELOG.md
Labels: documentation

Clean up CHANGELOG by removing old entries
  CHANGELOG.md
Labels: documentation

Updates
  .github/workflows/new-pull-request.yml
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/utils.js
  scripts/functions/backup/daily-database-backup.sh
  scripts/functions/cron/checksums.sh
  scripts/functions/cron/cleanup-cron.sh
  scripts/functions/cron/emergency-auto-upgrade-cron.sh
  scripts/functions/server-tools/mysqltuner.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/install/cron/cron-install.sh
  scripts/update/openssl-update.sh
  scripts/update/php-config-update.sh
  scripts/update/phpmyadmin-update.sh
  scripts/update/wordfence-cli-update.sh
Labels: core, configuration, automation, backup, database, php

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Updates
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/utils.js
  scripts/install/tools/frontend/admin-control-panel-install.sh
  scripts/install/tools/security/wordfence-cli.sh
  scripts/update/phpmyadmin-update.sh
  scripts/update/wordfence-cli-update.sh
Labels: core, configuration

Updates
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/modules/utils.js
Labels: configuration

Update
  config/var/www/admin/control-panel/classes/SystemCommand.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/classes/SystemCommand.php
  scripts/install/cron/cron-install.sh
  scripts/update/wordfence-cli-update.sh
Labels: core, configuration

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Fixes
  config/var/www/admin/control-panel/classes/SystemCommand.php
Labels: configuration

Remove old SYSTEMCOMMAND changes from CHANGELOG
  CHANGELOG.md
Labels: documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/modules/utils.js
  scripts/install/cron/cron-install.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/php/php-install.sh
  scripts/update/enginescript-update.sh
  scripts/update/mariadb-update.sh
  scripts/update/openssl-update.sh
  scripts/update/php-config-update.sh
  scripts/update/php-update.sh
  scripts/update/phpmyadmin-update.sh
  scripts/update/software-update.sh
  scripts/update/wordfence-cli-update.sh
  scripts/update/wp-cli-update.sh
Labels: core, configuration, documentation, database, php, wordpress-plugins

Updates
  scripts/install/php/php-install.sh
  scripts/update/php-update.sh
  scripts/update/software-update.sh
  scripts/update/wp-cli-update.sh
Labels: core, php, wordpress-plugins

Update CHANGELOG to remove system command section
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Fixes
  config/var/www/admin/control-panel/modules/utils.js
Labels: configuration

Remove SYSTEMCOMMAND PHP class fixes from CHANGELOG
  CHANGELOG.md
Labels: documentation

Fixes
  config/var/www/admin/control-panel/classes/SystemCommand.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/CsrfController.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/classes/Session.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/CsrfController.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/classes/Session.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/CsrfController.php
  scripts/update/wp-cli-update.sh
Labels: configuration, wordpress-plugins

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Updates
  config/var/www/admin/control-panel/classes/Session.php
  scripts/update/wp-cli-update.sh
Labels: configuration, wordpress-plugins

Updates
  config/var/www/admin/control-panel/controllers/CsrfController.php
  scripts/update/php-config-update.sh
  scripts/update/wp-cli-update.sh
Labels: configuration, php, wordpress-plugins

Removed unused variables
  scripts/update/php-config-update.sh
Labels: php

Update php-config-update.sh
  scripts/update/php-config-update.sh
Labels: php

Remove outdated PHP-CONFIG-UPDATE.SH changelog section
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG to remove outdated PHP config updates
  CHANGELOG.md
Labels: documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Tuning Updates
  .github/ci-config/mariadb-ci.cnf
  CHANGELOG.md
  config/etc/mysql/my.cnf
  config/etc/nginx/globals/compression-brotli.conf
  config/etc/nginx/globals/compression-gzip.conf
  config/etc/nginx/globals/map-expires.conf
  config/etc/nginx/globals/mime-types.conf
  config/etc/nginx/ssl/sslshared.conf
  config/etc/php/php.ini
  scripts/functions/mariadb-diagnostic.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/mariadb/mariadb-tune.sh
  scripts/install/nginx/nginx-misc.sh
  scripts/install/nginx/nginx-tune.sh
  scripts/menu/database-tools-menu.sh
  scripts/update/php-config-update.sh
  setup.sh
Labels: core, configuration, automation, documentation, database, nginx, php

Updates
  .github/workflows/branch-cleanup.yml
  .github/workflows/enginescript-build-test.yml
  .github/workflows/issue-automation.yml
  .github/workflows/issue-management.yml
  .github/workflows/new-issue.yml
  .github/workflows/software-version-check.yml
  .github/workflows/stale-issue.yml
  .github/workflows/summary.yml
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  scripts/ci/run-install-step.sh
Labels: configuration, automation

Remove external services bug fix entries
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
