Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml

Fixes
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fix
  scripts/install/nginx/nginx-tune.sh
Labels: core, nginx

Fix
  scripts/install/mariadb/mariadb-tune.sh
Labels: core

Updates
  config/var/www/admin/control-panel/api.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/modules/api.js
Labels: configuration

Updates
  .github/ci-config/enginescript-variables-ci.txt
  .github/workflows/software-version-check.yml
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/charts.js
  enginescript-variables.txt
  scripts/install/tools/frontend/admin-control-panel-install.sh
Labels: core, configuration, automation

Updates
  README.md
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/api.js
  scripts/functions/shared/enginescript-common.sh
  setup.sh
Labels: core, configuration

Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/README.md
  config/var/www/admin/control-panel/modules/utils.js
  scripts/functions/cron/sweep-api-cache.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/install/cron/cron-install.sh
  setup.sh
Labels: core, configuration

Fixes
  config/var/www/admin/control-panel/dashboard.css
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/modules/api.js
  config/var/www/admin/control-panel/modules/utils.js
Labels: configuration

Rollback Changes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/modules/api.js
  config/var/www/admin/control-panel/modules/utils.js
Labels: configuration

Cleanup
  config/var/www/admin/control-panel/api.php
Labels: configuration

Testing router
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/ApiResponse.php
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/BatchController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/CsrfController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/FileManagerController.php
  config/var/www/admin/control-panel/controllers/ServiceController.php
  config/var/www/admin/control-panel/controllers/SiteController.php
  config/var/www/admin/control-panel/controllers/SystemController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/SiteController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
Labels: configuration

Fix
  config/var/www/admin/control-panel/classes/UptimeRobotAPI.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/classes/UptimeRobotAPI.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/BatchController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/CsrfController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/FileManagerController.php
  config/var/www/admin/control-panel/controllers/ServiceController.php
  config/var/www/admin/control-panel/controllers/SiteController.php
  config/var/www/admin/control-panel/controllers/SystemController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  scripts/update/enginescript-update.sh
Labels: configuration

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Fixes
  config/var/www/admin/control-panel/controllers/UptimeController.php
  scripts/update/phpmyadmin-update.sh
  scripts/update/software-update.sh
Labels: configuration

Possible Fixes for install issue
  setup.sh
Labels: core

Fix errors
  scripts/install/enginescript-install.sh
  scripts/menu/logs-menu.sh
  setup.sh
Labels: core

Uptime Robot Changes
  config/etc/enginescript/uptimerobot.conf
  config/var/www/admin/control-panel/classes/UptimeRobotAPI.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
Labels: configuration

Fix Errors
  scripts/functions/shared/update-config-files.sh
  scripts/functions/vhost/vhost-export.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/php/php-install.sh
Labels: core, nginx, php

Fixes
  config/var/www/admin/control-panel/dashboard.js
  setup.sh
Labels: core, configuration

Control Panel Directory Structure
  composer.json
  config/etc/nginx/admin/admin.localhost.conf
  config/etc/nginx/admin/admin.your-domain.conf
  config/var/www/admin/control-panel/controllers/FileManagerController.php
  scripts/functions/alias/alias-help.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/functions/shared/reset-filemanager-password.sh
  scripts/install/nginx/nginx-create-directories.sh
  scripts/install/tools/frontend/admin-control-panel-install.sh
  scripts/install/tools/frontend/phpinfo-install.sh
  scripts/install/tools/frontend/phpsysinfo-install.sh
  scripts/install/tools/frontend/tiny-file-manager-install.sh
  scripts/install/tools/mysql/adminer.sh
  scripts/install/tools/mysql/phpmyadmin.sh
  scripts/install/tools/php/opcache-gui.sh
  scripts/update/enginescript-update.sh
  scripts/update/php-update.sh
  scripts/update/phpmyadmin-update.sh
  setup.sh
Labels: core, configuration, nginx

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Log updates
  config/etc/logrotate.d/domains
  scripts/functions/logs/domain-logs.sh
  scripts/functions/shared/enginescript-shared-vhost.sh
Labels: core, configuration

Control Panel fixes
  README.md
  config/var/www/admin/control-panel/README.md
  config/var/www/admin/tools/phpsysinfo/phpsysinfo.ini
  config/var/www/admin/tools/tinyfilemanager/config.php
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/install/tools/frontend/phpsysinfo-install.sh
  scripts/install/tools/frontend/tiny-file-manager-install.sh
  scripts/update/enginescript-update.sh
Labels: core, configuration, documentation

Removed debug code
  .github/workflows/summary.yml
  config/var/www/admin/control-panel/classes/UptimeRobotAPI.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/tools/README.md
Labels: configuration, automation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Minor changes
  config/etc/nginx/globals/map-cache.conf
  config/etc/nginx/ssl/sslshared.conf
  config/home/enginescript-install-options.txt
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/install/nginx/nginx-misc.sh
Labels: core, configuration, nginx

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/modules/state.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/controllers/BatchController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Refactor Functions
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Refactor for performance optimization
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/modules/state.js
Labels: configuration
