Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml

Fix comment formatting for FontAwesome release date
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fix for Useless conditional
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fix for Useless conditional
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/SecurityLogger.php
  config/var/www/admin/control-panel/classes/Session.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/BatchController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/FileManagerController.php
  config/var/www/admin/control-panel/controllers/ServiceController.php
  config/var/www/admin/control-panel/controllers/SiteController.php
  config/var/www/admin/control-panel/controllers/SystemController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/external-services/services-config.js
Labels: configuration

Update
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update CHANGELOG to remove BOM character removal entry
  CHANGELOG.md
Labels: documentation

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/external-services/services-config.js
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Updates
  config/var/www/admin/control-panel/external-services/EXTERNAL-SERVICES-CHANGELOG.md
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Update CHANGELOG for 2026-04-12 changes
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Update
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Update CHANGELOG.md for recent changes
  CHANGELOG.md
Labels: documentation

Updates
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Update
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

External Services
  .codacy.yml
  CHANGELOG.md
  README.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/README.md
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services-interactions.js
  config/var/www/admin/control-panel/external-services/external-services-utils.js
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/external-services/services-config.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/api.js
  config/var/www/admin/control-panel/modules/state.js
  docs/api.md
  scripts/install/tools/frontend/admin-control-panel-install.sh
Labels: core, configuration, documentation

Remove outdated changelog entry for admin control panel
  CHANGELOG.md
Labels: documentation

Clean up CHANGELOG.md by removing old entries
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation
