Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Remove old changelog entry for admin control panel
  CHANGELOG.md
Labels: documentation

Remove Adminer tool card removal logic
  scripts/install/tools/frontend/admin-control-panel-install.sh
Labels: core

Enhance error handling in admin control panel install script
  scripts/install/tools/frontend/admin-control-panel-install.sh
Labels: core

Updates
  config/etc/mysql/my.cnf
  config/etc/nginx/globals/compression-brotli.conf
  config/etc/nginx/globals/fastcgi-modified.conf
  config/etc/nginx/globals/response-headers.conf
  config/etc/nginx/nginx.conf
  config/etc/nginx/ssl/sslshared.conf
  config/etc/php/php.ini
  config/etc/php/www.conf
  scripts/install/mariadb/mariadb-tune.sh
  scripts/install/nginx/nginx-tune.sh
  scripts/update/php-config-update.sh
Labels: core, configuration, database, nginx, php

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Updates
  scripts/functions/shared/enginescript-common.sh
  scripts/install/liburing/liburing-install.sh
  scripts/install/nginx/nginx-brotli.sh
  scripts/install/nginx/nginx-compile.sh
  scripts/install/openssl/openssl-install.sh
  scripts/install/tools/frontend/admin-control-panel-install.sh
  scripts/install/tools/frontend/phpinfo-install.sh
  scripts/install/tools/frontend/phpsysinfo-install.sh
  scripts/install/tools/frontend/tiny-file-manager-install.sh
  scripts/install/tools/frontend/uptimerobot-api-install.sh
  scripts/install/tools/media/pngout.sh
  scripts/install/tools/media/zimageoptimizer.sh
  scripts/install/tools/php/opcache-gui.sh
  scripts/install/tools/security/wordfence-cli.sh
  scripts/install/tools/system/testssl-install.sh
  scripts/install/tools/tools-install.sh
  scripts/install/zlib/zlib-install.sh
  scripts/update/enginescript-update.sh
  scripts/update/php-config-update.sh
  setup.sh
Labels: core, nginx, php

Updates
  .github/workflows/enginescript-build-test.yml
  config/etc/nginx/globals/map-yoast-sitemap.conf
  scripts/install/nginx/nginx-compile.sh
  scripts/install/nginx/nginx-misc.sh
  scripts/install/nginx/nginx-service.sh
  scripts/update/enginescript-update.sh
  setup.sh
Labels: core, configuration, automation, nginx

Revised Installation Logs
  .github/workflows/enginescript-build-test.yml
  scripts/functions/shared/enginescript-common.sh
  scripts/install/acme/acme-install.sh
  scripts/install/block/package-block.sh
  scripts/install/cron/cron-install.sh
  scripts/install/depends/depends-install.sh
  scripts/install/enginescript-install.sh
  scripts/install/gcc/gcc-install.sh
  scripts/install/kernel/kernel-tweaks-install.sh
  scripts/install/kernel/ksm.sh
  scripts/install/liburing/liburing-install.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/nginx/nginx-download.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/openssl/openssl-install.sh
  scripts/install/pcre/pcre-install.sh
  scripts/install/php/php-install.sh
  scripts/install/redis/redis-install.sh
  scripts/install/removes/remove-preinstalled.sh
  scripts/install/repositories/repositories-install.sh
  scripts/install/swap/swap-install.sh
  scripts/install/system-misc/digitalocean-software-install.sh
  scripts/install/system-misc/file-limits.sh
  scripts/install/systemd/timesyncd.sh
  scripts/install/tools/system/amazon-s3-install.sh
  scripts/install/tools/tools-install.sh
  scripts/install/ubuntu-pro/ubuntu-pro-install.sh
  scripts/install/ufw/ufw-install.sh
  scripts/install/zlib/zlib-install.sh
  scripts/update/mariadb-update.sh
  scripts/update/nginx-update.sh
  scripts/update/php-update.sh
  setup.sh
Labels: core, automation, database, nginx, php

Updates
  enginescript-variables.txt
  scripts/functions/shared/enginescript-common.sh
  scripts/install/php/php-install.sh
  scripts/install/tools/system/amazon-s3-install.sh
  scripts/menu/update-menu.sh
  scripts/update/php-update.sh
Labels: core, php

Fixes
  README.md
  scripts/functions/shared/enginescript-common.sh
  scripts/install/php/php-install.sh
  scripts/install/system-misc/file-limits.sh
  scripts/update/php-update.sh
Labels: core, documentation, php

Remove old PHP update entry from CHANGELOG
  CHANGELOG.md
Labels: documentation

Remove PHP update entry from CHANGELOG
  CHANGELOG.md
Labels: documentation

Fix
  scripts/update/php-update.sh
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Remove outdated PHP update entry from CHANGELOG
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG with recent PHP updates and fixes
  CHANGELOG.md
Labels: documentation

Remove Redis I/O threads refactor entry from CHANGELOG
  CHANGELOG.md
Labels: documentation

Remove wget from dependencies installation script
  scripts/install/depends/depends-install.sh
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Remove PHP update details from CHANGELOG
  CHANGELOG.md
Labels: documentation

Remove PHP update script robustness improvements entry
  CHANGELOG.md
Labels: documentation

Fix sed command syntax in php-update.sh
  scripts/update/php-update.sh
Labels: none

Fix sed command syntax in php-update.sh
  scripts/update/php-update.sh
Labels: none

Improve line ending conversion method in setup.sh
  setup.sh
Labels: core

Update server restart message for clarity
  setup.sh
Labels: core

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Fixes
  CHANGELOG.md
  composer.json
  config/var/www/admin/control-panel/classes/Session.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  scripts/functions/vhost/vhost-install.sh
  scripts/install/tools/system/amazon-s3-install.sh
  scripts/update/php-update.sh
Labels: core, configuration, documentation

Early Hints
  config/etc/nginx/globals/map-cache.conf
  config/etc/nginx/globals/php-fpm.conf
Labels: configuration, nginx

Updates
  config/etc/nginx/admin/admin.localhost.conf
  config/etc/nginx/admin/admin.your-domain.conf
  config/etc/nginx/sites-available/your-domain.conf
  scripts/functions/shared/enginescript-common.sh
  scripts/functions/shared/enginescript-shared-vhost.sh
  scripts/install/nginx/nginx-tune.sh
  scripts/install/tools/frontend/admin-control-panel-install.sh
  scripts/update/nginx-update.sh
Labels: core, configuration, nginx

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Fixes
  scripts/ci/test-sql-credentials.sh
  scripts/functions/vhost/vhost-import.sh
Labels: core

Update NGINX version check to 1.31.x series
  .github/workflows/software-version-check.yml
Labels: automation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/ApiResponder.php
  config/var/www/admin/control-panel/classes/ApiResponse.php
  config/var/www/admin/control-panel/classes/Request.php
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/classes/SecurityLogger.php
  config/var/www/admin/control-panel/classes/Session.php
  config/var/www/admin/control-panel/classes/SystemCommand.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/BatchController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/CsrfController.php
  config/var/www/admin/control-panel/controllers/FileManagerController.php
  config/var/www/admin/control-panel/controllers/ServiceController.php
  config/var/www/admin/control-panel/controllers/SiteController.php
  config/var/www/admin/control-panel/controllers/SystemController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
Labels: configuration

gitignore
  .gitignore
Labels: none

Fixes
  .github/workflows/fortify.yml
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/ApiResponder.php
  config/var/www/admin/control-panel/classes/ApiResponse.php
  config/var/www/admin/control-panel/classes/Request.php
  config/var/www/admin/control-panel/classes/SystemCommand.php
  config/var/www/admin/control-panel/classes/SystemProcessRunner.php
  config/var/www/admin/control-panel/classes/UptimeRobotAPI.php
  config/var/www/admin/control-panel/controllers/SiteController.php
  docs/api.md
Labels: configuration, automation

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/Request.php
  config/var/www/admin/control-panel/classes/RequestServerAccessor.php
  config/var/www/admin/control-panel/classes/UptimeRobotAPI.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/UptimeRobotAPI.php
Labels: configuration
