Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/SystemCommand.php
Labels: configuration

Fixes
  README.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration, documentation

Refactor Dashboard
  config/var/www/admin/control-panel/VERSION_MANAGEMENT.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/BaseController.php
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/controllers/ActivityController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/MonitoringController.php
  config/var/www/admin/control-panel/controllers/SecurityController.php
  config/var/www/admin/control-panel/controllers/ServicesController.php
  config/var/www/admin/control-panel/controllers/SitesController.php
  config/var/www/admin/control-panel/controllers/SystemController.php
  config/var/www/admin/control-panel/controllers/ToolsController.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/services/ActivityService.php
  config/var/www/admin/control-panel/services/AlertService.php
  config/var/www/admin/control-panel/services/ServiceStatusService.php
  config/var/www/admin/control-panel/services/SystemService.php
  config/var/www/admin/control-panel/services/WordPressService.php
  config/var/www/admin/control-panel/version.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/VERSION_MANAGEMENT.md
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/update-version.js
  config/var/www/admin/control-panel/version.js
Labels: configuration

Revert Versioning Changes
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/update-version.js
  config/var/www/admin/control-panel/version.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/services/ServiceStatusService.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/classes/SystemCommand.php
  config/var/www/admin/control-panel/controllers/ServicesController.php
  config/var/www/admin/control-panel/services/ServiceStatusService.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/BaseController.php
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/classes/SystemCommand.php
  config/var/www/admin/control-panel/controllers/ActivityController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/MonitoringController.php
  config/var/www/admin/control-panel/controllers/SecurityController.php
  config/var/www/admin/control-panel/controllers/ServicesController.php
  config/var/www/admin/control-panel/controllers/SitesController.php
  config/var/www/admin/control-panel/controllers/SystemController.php
  config/var/www/admin/control-panel/controllers/ToolsController.php
  config/var/www/admin/control-panel/services/ActivityService.php
  config/var/www/admin/control-panel/services/AlertService.php
  config/var/www/admin/control-panel/services/ServiceStatusService.php
  config/var/www/admin/control-panel/services/SystemService.php
  config/var/www/admin/control-panel/services/WordPressService.php
  scripts/update/mariadb-update.sh
Labels: configuration, database

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/controllers/SecurityController.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/uptimerobot.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/BaseController.php
  config/var/www/admin/control-panel/classes/JsonResponse.php
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/modules/api.js
  config/var/www/admin/control-panel/modules/utils.js
  config/var/www/admin/control-panel/services/ServiceStatusService.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/theme.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/modules/theme.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/controllers/ServicesController.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/controllers/ServicesController.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/modules/theme.js
  config/var/www/admin/control-panel/services/ServiceStatusService.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/controllers/ActivityController.php
  config/var/www/admin/control-panel/controllers/MonitoringController.php
  config/var/www/admin/control-panel/controllers/SitesController.php
  config/var/www/admin/control-panel/controllers/SystemController.php
  config/var/www/admin/control-panel/controllers/ToolsController.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/classes/BaseController.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Revert Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/BaseController.php
  config/var/www/admin/control-panel/controllers/ActivityController.php
  config/var/www/admin/control-panel/controllers/MonitoringController.php
  config/var/www/admin/control-panel/controllers/ServicesController.php
  config/var/www/admin/control-panel/controllers/SitesController.php
  config/var/www/admin/control-panel/controllers/SystemController.php
  config/var/www/admin/control-panel/controllers/ToolsController.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/theme.js
  config/var/www/admin/control-panel/services/ServiceStatusService.php
Labels: configuration

Fix
  config/var/www/admin/control-panel/api.php
Labels: configuration

Revert Changes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/BaseController.php
  config/var/www/admin/control-panel/classes/JsonResponse.php
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/modules/api.js
  config/var/www/admin/control-panel/modules/utils.js
Labels: configuration

Revert Changes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/BaseController.php
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/classes/SystemCommand.php
  config/var/www/admin/control-panel/controllers/ActivityController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/MonitoringController.php
  config/var/www/admin/control-panel/controllers/SecurityController.php
  config/var/www/admin/control-panel/controllers/ServicesController.php
  config/var/www/admin/control-panel/controllers/SitesController.php
  config/var/www/admin/control-panel/controllers/SystemController.php
  config/var/www/admin/control-panel/controllers/ToolsController.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/services/ActivityService.php
  config/var/www/admin/control-panel/services/AlertService.php
  config/var/www/admin/control-panel/services/ServiceStatusService.php
  config/var/www/admin/control-panel/services/SystemService.php
  config/var/www/admin/control-panel/services/WordPressService.php
  scripts/update/mariadb-update.sh
Labels: configuration, database

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/SystemCommand.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/README.md
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  scripts/update/mariadb-update.sh
Labels: configuration, database

Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Fixes
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/external-services/README.md
  config/var/www/admin/control-panel/index.html
Labels: configuration

Fix
  config/var/www/admin/control-panel/classes/SystemCommand.php
Labels: configuration

Code duplication fixes
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Revert Changes
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Updates
  config/etc/mysql/my.cnf
  scripts/functions/server-tools/mysqltuner.sh
  scripts/install/mariadb/mariadb-tune.sh
  scripts/install/tools/mysql/mysqltuner.sh
Labels: core, configuration, database

Updates
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Refactor External Services Parser
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
