Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Update
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Update
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration

Update
  config/var/www/admin/control-panel/api.php
Labels: configuration

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Dashboard Refactor
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/README.md
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.html
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Fixes
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Fixes
  CHANGELOG.md
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration, documentation

Updates
  .codacy.yml
  CHANGELOG.md
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration, documentation

Updates
  .codacy.yml
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration, documentation

Fixes
  CHANGELOG.md
  config/var/www/admin/control-panel/index.html
  scripts/install/nginx/nginx-compile.sh
  scripts/update/mariadb-update.sh
  scripts/update/openssl-update.sh
  scripts/update/phpmyadmin-update.sh
Labels: core, configuration, documentation, database, nginx

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Fix
  .github/ci-config/enginescript-variables-ci.txt
  enginescript-variables.txt
Labels: core, automation

Updates
  config/var/www/admin/control-panel/dashboard.js
  scripts/install/nginx/nginx-compile.sh
Labels: core, configuration, nginx

Updates
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  README.md
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration, automation, documentation

Fixes
  CHANGELOG.md
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.css
Labels: configuration, documentation

Updates
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update
  config/var/www/admin/control-panel/index.html
Labels: configuration

Updates
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Workflow
  .github/workflows/gemini-issue-assistant.yml
Labels: automation

Workflow fixes
  .github/workflows/gemini-issue-assistant.yml
Labels: automation

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Linting
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  CHANGELOG.md
  config/var/www/admin/control-panel/external-services/CHANGELOG.md
  config/var/www/admin/control-panel/external-services/README.md
Labels: configuration, automation, documentation

Linting
  .github/copilot-instructions.md
  config/var/www/admin/control-panel/external-services/CHANGELOG.md
Labels: configuration, automation

Updates
  config/var/www/admin/control-panel/external-services/EXTERNAL-SERVICES-CHANGELOG.md
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.css
Labels: configuration

Fix
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Updates
  CHANGELOG.md
  scripts/install/enginescript-install.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/php/php-install.sh
  scripts/update/mariadb-update.sh
  scripts/update/nginx-update.sh
  scripts/update/php-update.sh
Labels: core, documentation, database, nginx, php

Update
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Update
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/SystemCommand.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/external-services/services-config.js
Labels: configuration

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
