Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml

Update Workflow
  .github/workflows/software-version-check.yml
Labels: automation

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

Sync plugin versions in README.md
  README.md
Labels: documentation

Readme
  README.md
Labels: documentation

Readme
  README.md
Labels: documentation

readme
  README.md
Labels: documentation

Readme
  README.md
Labels: documentation

readme
  README.md
Labels: documentation

FInal Badges
  README.md
Labels: documentation

Badge Reorganize
  README.md
Labels: documentation

Readme
  README.md
Labels: documentation

Added Cloudflare wiki link
  README.md
Labels: documentation

Removed Workflow
  .github/workflows/watch-sse-releases.yml
Labels: automation

Updated plugin repo
  .github/workflows/software-version-check.yml
  .github/workflows/sync-plugin-versions-readme.yml
  README.md
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
  scripts/update/enginescript-update.sh
Labels: core, automation, documentation

Update workflow
  .github/workflows/branch-cleanup.yml
  config/var/www/wordpress/plugins/simple-site-exporter-enginescript.zip
Labels: configuration, automation, wordpress-plugins

Updated workflow
  .github/workflows/sync-plugin-versions-readme.yml
Labels: automation

Cleanup Changes
  scripts/functions/cron/cleanup-cron.sh
Labels: core

Added Plugins Variable
  .vscode/settings.json
  config/home/enginescript-install-options.txt
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
  scripts/update/enginescript-update.sh
Labels: core, configuration

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

Updated Workflow
  .github/workflows/software-version-check.yml
Labels: automation

Test
  .github/temp_versions.txt
Labels: automation

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

Updates
  .github/ci-config/enginescript-install-options-ci.txt
  .github/ci-config/mariadb-ci.cnf
  .github/copilot-instructions.md
  .github/workflows/enginescript-build-test.yml
  .github/workflows/nginx-compilation-test.yml
  .github/workflows/plugin-archive-updater-swpo.yml
  .github/workflows/script-validation.yml
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  README.md
  config/var/www/wordpress/plugins/simple-wp-optimizer-enginescript.zip
  config/var/www/wordpress/plugins/simple-wp-optimizer-enginescript/simple-wp-optimizer.php
  enginescript-variables.txt
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
  scripts/install/nginx/nginx-compile.sh
  scripts/update/enginescript-update.sh
Labels: core, configuration, automation, documentation, nginx, wordpress-plugins

Updates
  .github/workflows/enginescript-build-test.yml
  .github/workflows/nginx-compilation-test.yml
  .github/workflows/script-validation.yml
  CHANGELOG.md
Labels: automation, documentation

Updates
  .github/workflows/enginescript-build-test.yml
  CHANGELOG.md
Labels: automation, documentation

Updates
  .github/workflows/enginescript-build-test.yml
  CHANGELOG.md
Labels: automation, documentation

Update
  .github/workflows/enginescript-build-test.yml
  CHANGELOG.md
Labels: automation, documentation

Updates
  .github/workflows/enginescript-build-test.yml
  CHANGELOG.md
Labels: automation, documentation

Updates
  .github/workflows/enginescript-build-test.yml
  CHANGELOG.md
Labels: automation, documentation

Updates
  .github/workflows/enginescript-build-test.yml
  .github/workflows/nginx-compilation-test.yml
  .github/workflows/sync-plugin-versions-readme.yml
  CHANGELOG.md
Labels: automation, documentation

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

Updates
  .github/ci-config/enginescript-variables-ci.txt
  .github/workflows/enginescript-build-test.yml
  CHANGELOG.md
Labels: automation, documentation

Updates
  .github/workflows/enginescript-build-test.yml
Labels: automation

Updates
  .github/workflows/enginescript-build-test.yml
Labels: automation
