Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

ES. Command Installer Fix
  scripts/install/alias/enginescript-alias-install.sh
  setup.sh
Labels: core

MariaDB Fixes
  .github/workflows/test-sql-credentials.yml
  scripts/ci/test-sql-credentials.sh
  scripts/install/mariadb/mariadb-install.sh
Labels: core, automation

WordPress Caching
  config/etc/nginx/globals/map-cache.conf
Labels: configuration, nginx

Kernel Fix
  config/etc/sysctl.d/60-enginescript.conf
Labels: configuration

Install Markers
  CHANGELOG.md
  scripts/install/acme/acme-install.sh
  scripts/install/block/package-block.sh
  scripts/install/cron/cron-install.sh
  scripts/install/depends/depends-install.sh
  scripts/install/gcc/gcc-install.sh
  scripts/install/kernel/kernel-tweaks-install.sh
  scripts/install/kernel/ksm.sh
  scripts/install/liburing/liburing-install.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/openssl/openssl-install.sh
  scripts/install/pcre/pcre-install.sh
  scripts/install/php/php-install.sh
  scripts/install/redis/redis-install.sh
  scripts/install/removes/remove-preinstalled.sh
  scripts/install/repositories/repositories-install.sh
  scripts/install/swap/swap-install.sh
  scripts/install/system-misc/digitalocean-software-install.sh
  scripts/install/system-misc/file-limits.sh
  scripts/install/systemd/thp.sh
  scripts/install/systemd/timesyncd.sh
  scripts/install/tools/tools-install.sh
  scripts/install/ubuntu-pro/ubuntu-pro-install.sh
  scripts/install/ufw/ufw-install.sh
  scripts/install/zlib/zlib-install.sh
Labels: core, documentation, nginx, php

PHP Fixes
  .github/workflows/test-php-package-lists.yml
  scripts/ci/test-php-package-lists.sh
  scripts/functions/shared/enginescript-common.sh
Labels: core, automation

Nginx Fixes
  config/etc/nginx/globals/map-cache.conf
  config/etc/nginx/globals/php-fpm.conf
  config/etc/nginx/nginx.conf
  scripts/functions/shared/enginescript-common.sh
Labels: core, configuration, nginx

Installer Fixes
  CHANGELOG.md
  scripts/functions/shared/enginescript-common.sh
  scripts/install/enginescript-install.sh
Labels: core, documentation

wp-cli fixes
  scripts/install/tools/wordpress/wp-cli.sh
  scripts/update/wp-cli-update.sh
Labels: core, wordpress-plugins

Installer Updates
  .github/workflows/test-install-state.yml
  scripts/ci/test-install-state.sh
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/install/acme/acme-install.sh
  scripts/install/admin-control-panel/admin-control-panel-install.sh
  scripts/install/block/package-block.sh
  scripts/install/cron/cron-install.sh
  scripts/install/depends/depends-install.sh
  scripts/install/enginescript-install.sh
  scripts/install/gcc/gcc-install.sh
  scripts/install/kernel/kernel-tweaks-install.sh
  scripts/install/kernel/ksm.sh
  scripts/install/liburing/liburing-install.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/openssl/openssl-install.sh
  scripts/install/pcre/pcre-install.sh
  scripts/install/php/php-install.sh
  scripts/install/phpmyadmin/phpmyadmin-install.sh
  scripts/install/redis/redis-install.sh
  scripts/install/removes/remove-preinstalled.sh
  scripts/install/repositories/repositories-install.sh
  scripts/install/swap/swap-install.sh
  scripts/install/system-misc/digitalocean-software-install.sh
  scripts/install/system-misc/file-limits.sh
  scripts/install/systemd/thp.sh
  scripts/install/systemd/timesyncd.sh
  scripts/install/tools/tools-install.sh
  scripts/install/ubuntu-pro/ubuntu-pro-install.sh
  scripts/install/ufw/ufw-install.sh
  scripts/install/wp-cli/wp-cli-install.sh
  scripts/install/zlib/zlib-install.sh
  scripts/menu/enginescript-menu.sh
  scripts/update/mariadb-update.sh
  scripts/update/nginx-update.sh
  scripts/update/php-update.sh
  scripts/update/phpmyadmin-update.sh
  scripts/update/wp-cli-update.sh
  setup.sh
Labels: core, automation, database, nginx, php, wordpress-plugins

PHP Repo
  scripts/install/repositories/repositories-install.sh
Labels: core

Composer.lock
  composer.lock
Labels: none

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
