Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Updates
  .github/copilot-instructions.md
  scripts/functions/shared/enginescript-common.sh
  scripts/install/enginescript-install.sh
Labels: core, automation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Bug Fixes
  config/etc/nginx/globals/map-cache.conf
  config/etc/nginx/globals/static-files.conf
  scripts/install/zlib/zlib-install.sh
Labels: core, configuration, nginx

PHP Default
  .github/ci-config/enginescript-variables-ci.txt
  config/etc/php/php.ini
  config/home/enginescript-install-options.txt
  enginescript-variables.txt
  scripts/functions/alias/alias-debug.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/install/block/package-block.sh
  scripts/install/php/php-install.sh
  scripts/menu/update-menu.sh
  scripts/update/php-update.sh
Labels: core, configuration, automation, php

Nginx Updates
  config/etc/nginx/globals/dev-restrictions.conf
  config/etc/nginx/globals/map-cache.conf
  config/etc/nginx/globals/response-headers.conf
  config/etc/nginx/globals/wp-secure.conf
Labels: configuration, nginx

Repo Bug Fixes
  scripts/install/repositories/repositories-install.sh
Labels: core

Readme Change
  README.md
Labels: documentation

Old Files Cleanup
  config/var/www/admin/control-panel/img/egylapon_hu-logo.svg
  config/var/www/admin/control-panel/img/header_bg.webp
  config/var/www/admin/control-panel/img/icon-30-email_at.svg
  config/var/www/admin/control-panel/img/icon-top_arrow.svg
  config/var/www/admin/control-panel/img/w-icon-30-cookie.svg
  config/var/www/admin/control-panel/img/w-icon-30-email.svg
  config/var/www/admin/control-panel/img/w-icon-30-email_at.svg
  config/var/www/admin/control-panel/img/w-icon-30-location.svg
  config/var/www/admin/control-panel/img/w-icon-30-phone.svg
  config/var/www/admin/control-panel/img/w-icon-facebook.svg
  config/var/www/admin/control-panel/img/w-icon-instagram.svg
  config/var/www/admin/control-panel/img/w-icon-pinterest.svg
  config/var/www/admin/control-panel/img/w-icon-youtube.svg
Labels: configuration

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

MariaDB Updates
  .github/ci-config/mariadb-ci.cnf
  config/etc/mysql/my.cnf
  scripts/install/mariadb/mariadb-tune.sh
  scripts/update/mariadb-update.sh
Labels: core, configuration, automation, database

Update MariaDB Settings
  config/etc/mysql/my.cnf
Labels: configuration, database

Minor Nginx Tuning
  config/etc/nginx/globals/fcgi-cached.conf
  config/etc/nginx/globals/static-files.conf
  config/etc/nginx/nginx.conf
  config/etc/nginx/sites-available/your-domain.conf
  config/etc/nginx/ssl/sslshared.conf
  config/etc/php/www.conf
Labels: configuration, nginx, php

Nginx Compile Change
  CHANGELOG.md
  scripts/install/nginx/nginx-compile.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/zlib/zlib-install.sh
  scripts/update/nginx-update.sh
Labels: core, documentation, nginx

Nginx Tuning
  config/etc/nginx/admin/admin.your-domain.conf
  config/etc/nginx/globals/response-headers.conf
  config/etc/nginx/globals/static-files.conf
  config/etc/nginx/globals/wp-secure.conf
  scripts/install/tools/nginx/gixy.sh
Labels: core, configuration, nginx

Script Improvements
  CHANGELOG.md
  scripts/functions/shared/enginescript-common.sh
  scripts/install/enginescript-install.sh
  scripts/install/kernel/kernel-update.sh
  scripts/install/liburing/liburing-install.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/nginx/nginx-brotli.sh
  scripts/install/nginx/nginx-cloudflare-origin-cert.sh
  scripts/install/nginx/nginx-download.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/openssl/openssl-install.sh
  scripts/install/pcre/pcre-install.sh
  scripts/install/php/php-install.sh
  scripts/install/redis/redis-install.sh
  scripts/install/tools/frontend/phpinfo-install.sh
  scripts/install/tools/frontend/phpsysinfo-install.sh
  scripts/install/tools/frontend/tiny-file-manager-install.sh
  scripts/install/tools/media/pngout.sh
  scripts/install/tools/media/zimageoptimizer.sh
  scripts/install/tools/mysql/adminer.sh
  scripts/install/tools/mysql/mysqltuner.sh
  scripts/install/tools/mysql/phpmyadmin.sh
  scripts/install/tools/php/opcache-gui.sh
  scripts/install/tools/security/clamav.sh
  scripts/install/tools/security/maldet.sh
  scripts/install/tools/security/php-malware-finder.sh
  scripts/install/tools/security/wordfence-cli.sh
  scripts/install/tools/security/wpscan.sh
  scripts/install/tools/system/testssl-install.sh
  scripts/install/zlib/zlib-install.sh
Labels: core, documentation, nginx, php

Admin Control Panel Fixes
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/SystemCommand.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/ServiceController.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/README.md
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/uptimerobot.php
Labels: configuration

Removed Deprecated Software and Updated Documentation
  CHANGELOG.md
  README.md
  config/etc/nginx/globals/map-expires.conf
  config/etc/nginx/globals/response-headers.conf
  config/home/enginescript-install-options.txt
  config/var/www/wordpress/wp-config.php
  scripts/functions/security/10up-vuln-scanner.sh
  scripts/functions/security/clamscan.sh
  scripts/functions/security/php-malware-finder.sh
  scripts/functions/shared/enginescript-shared-vhost.sh
  scripts/install/tools/security/php-malware-finder.sh
  scripts/install/tools/tools-install.sh
  scripts/install/tools/wordpress/wp-cli.sh
  scripts/install/zlib/zlib-install.sh
  scripts/menu/security-tools-menu.sh
  scripts/update/software-update.sh
Labels: core, configuration, security, documentation, nginx

Zlib Alternatives for Nginx
  .github/ci-config/enginescript-variables-ci.txt
  .github/copilot-instructions.md
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  config/home/enginescript-install-options.txt
  enginescript-variables.txt
  scripts/install/nginx/nginx-compile.sh
  scripts/install/zlib/zlib-install.sh
Labels: core, configuration, automation, documentation, nginx

Update
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  README.md
  config/home/enginescript-install-options.txt
  scripts/functions/shared/enginescript-common.sh
  scripts/functions/shared/enginescript-shared-vhost.sh
  scripts/update/enginescript-update.sh
Labels: core, configuration, automation, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  enginescript-variables.txt
Labels: core, automation

Updates
  .github/ci-config/enginescript-variables-ci.txt
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  README.md
  config/etc/nginx/globals/map-cache.conf
  config/home/enginescript-install-options.txt
  enginescript-variables.txt
  scripts/functions/shared/enginescript-shared-vhost.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/update/enginescript-update.sh
Labels: core, configuration, automation, documentation, nginx

Workflow Update
  .github/workflows/software-version-check.yml
Labels: automation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Removed Package
  scripts/install/depends/depends-install.sh
Labels: core

Control Panel Updates
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/api.js
  config/var/www/admin/control-panel/modules/utils.js
Labels: configuration

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/placeholder/index.html
  docs/api.md
  scripts/functions/vhost/vhost-install.sh
Labels: core, configuration, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  enginescript-variables.txt
Labels: core, automation

Bug Fixes
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Bug Fixes
  config/etc/nginx/admin/admin.your-domain.conf
  scripts/functions/shared/enginescript-shared-vhost.sh
Labels: core, configuration, nginx

Workflow Fix
  .github/workflows/summary.yml
Labels: automation

Control Panel Refactor
  .github/ci-config/enginescript-variables-ci.txt
  config/etc/nginx/admin/admin.your-domain.conf
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/classes/Router.php
  config/var/www/admin/control-panel/classes/UptimeRobotAPI.php
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/controllers/SiteController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.html
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/charts.js
  config/var/www/admin/control-panel/modules/utils.js
  enginescript-variables.txt
  scripts/install/tools/frontend/admin-control-panel-install.sh
Labels: core, configuration, automation, nginx

Updates
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Updates
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
Labels: configuration

Bug Fixes
  .github/workflows/gemini-code-assistant.yml
  .github/workflows/gemini-issue-assistant.yml
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/BatchController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.css
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/external-services/services-config.js
  config/var/www/admin/control-panel/modules/api.js
  config/var/www/admin/control-panel/modules/state.js
  config/var/www/admin/control-panel/modules/utils.js
Labels: configuration, automation

Bug Fixes
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/BatchController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
  config/var/www/admin/control-panel/modules/api.js
Labels: configuration

Bug Fixes
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
Labels: configuration

Linting
  config/var/www/admin/control-panel/controllers/BaseController.php
  config/var/www/admin/control-panel/controllers/CacheController.php
  config/var/www/admin/control-panel/controllers/UptimeController.php
Labels: configuration

Renovate
  .github/dependabot.yml
  renovate.json
Labels: automation, dependencies

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
