Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

Workflow
  .github/workflows/software-version-check.yml
Labels: automation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Workflow
  .github/workflows/enginescript-build-test.yml
Labels: automation

Updates
  CHANGELOG.md
  scripts/functions/shared/enginescript-common.sh
  scripts/install/enginescript-install.sh
  scripts/install/ubuntu-pro/ubuntu-pro-install.sh
Labels: core, documentation

Updates
  CHANGELOG.md
  scripts/functions/shared/enginescript-common.sh
  scripts/install/enginescript-install.sh
  scripts/update/enginescript-update.sh
Labels: core, documentation

Updates
  CHANGELOG.md
  scripts/install/ubuntu-pro/ubuntu-pro-install.sh
Labels: core, documentation

Update
  scripts/functions/shared/enginescript-common.sh
Labels: core

Bug fix
  scripts/install/tools/tools-install.sh
Labels: core

chore: update software versions
  README.md
  enginescript-variables.txt
Labels: core, documentation

Updates
  .github/copilot-instructions.md
  CHANGELOG.md
  config/etc/nginx/globals/fastcgi-modified.conf
  config/etc/nginx/globals/map-cache.conf
  config/etc/nginx/globals/php-fpm.conf
  config/etc/nginx/globals/response-headers.conf
  config/etc/nginx/globals/wp-secure.conf
  config/etc/nginx/nginx.conf
  config/var/www/wordpress/wp-config.php
  scripts/functions/auto-upgrade/emergency-auto-upgrade.sh
Labels: core, configuration, automation, documentation, nginx

Updates
  .github/workflows/enginescript-build-test.yml
  CHANGELOG.md
  config/etc/logrotate.d/enginescript
  config/home/enginescript-install-options.txt
  scripts/functions/alias/alias-debug.sh
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/install/depends/depends-install.sh
  scripts/install/enginescript-install.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/php/php-install.sh
  scripts/install/redis/redis-install.sh
  scripts/menu/logs-menu.sh
  scripts/update/mariadb-update.sh
  scripts/update/nginx-update.sh
  scripts/update/php-update.sh
  setup.sh
Labels: core, configuration, automation, documentation, database, nginx, php

Bug Fix
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
Labels: core

Bug Fix
  CHANGELOG.md
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/install/nginx/nginx-cloudflare-ip-updater.sh
Labels: core, documentation, nginx

Updates
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
  setup.sh
Labels: core

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Updates
  .github/copilot-instructions.md
  .github/workflows/gemini-code-assistant.yml
  .github/workflows/gemini-issue-assistant.yml
  CHANGELOG.md
  scripts/install/ubuntu-pro/ubuntu-pro-install.sh
Labels: core, automation, documentation

Workflows
  .github/workflows/gemini-code-assistant.yml
  .github/workflows/gemini-issue-assistant.yml
Labels: automation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Workflows
  .github/workflows/enginescript-build-test.yml
  .github/workflows/gemini-code-assistant.yml
Labels: automation

Removed auto upgrade contents
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
Labels: core

Added DigitalOcean Console Install Option
  CHANGELOG.md
  config/home/enginescript-install-options.txt
  scripts/install/enginescript-install.sh
  scripts/install/system-misc/digitalocean-console-install.sh
Labels: core, configuration, documentation

Workflow
  .github/workflows/gemini-issue-assistant.yml
Labels: automation

NGINX and HTTP3 Changes
  config/etc/nginx/admin/admin.localhost.conf
  config/etc/nginx/globals/response-headers.conf
  config/etc/nginx/nginx.conf
  config/etc/nginx/sites-available/your-domain.conf
  scripts/install/nginx/nginx-compile.sh
  scripts/install/nginx/nginx-tune.sh
  scripts/menu/enginescript-menu.sh
Labels: core, configuration, nginx

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Updates
  CHANGELOG.md
  README.md
  config/etc/nginx/globals/static-files.conf
  config/etc/nginx/nginx.conf
  config/home/enginescript-install-options.txt
  scripts/functions/alias/alias-cache.sh
  scripts/functions/alias/alias-restart.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/functions/shared/enginescript-shared-vhost.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core, configuration, documentation, nginx

Update
  README.md
Labels: documentation

Updates
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  README.md
  enginescript-variables.txt
  patches/nginx/nginx_dyn_tls.patch
  patches/nginx/nginx_io_uring.patch
  scripts/install/nginx/nginx-patch.sh
Labels: core, automation, documentation, nginx

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Workflow
  .github/ci-config/enginescript-variables-ci.txt
  .github/workflows/software-version-check.yml
Labels: automation

Workflow
  .github/workflows/software-version-check.yml
Labels: automation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Updates
  scripts/update/enginescript-update.sh
  setup.sh
Labels: core

Fix Patch
  patches/nginx/nginx_dyn_tls.patch
Labels: nginx

Updates
  CHANGELOG.md
  README.md
  config/etc/nginx/admin/admin.localhost.conf
  config/etc/nginx/admin/admin.your-domain.conf
  config/etc/nginx/sites-available/your-domain.conf
  scripts/functions/logs/domain-logs.sh
  scripts/functions/shared/enginescript-shared-vhost.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/tools/mysql/adminer.sh
  scripts/install/tools/mysql/phpmyadmin.sh
  scripts/menu/enginescript-menu.sh
  scripts/update/enginescript-update.sh
  scripts/update/nginx-update.sh
  scripts/update/phpmyadmin-update.sh
Labels: core, configuration, documentation, nginx

Update Message
  scripts/update/enginescript-update.sh
Labels: none

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Updates
  CHANGELOG.md
  config/etc/nginx/globals/map-cache.conf
  scripts/functions/shared/enginescript-common.sh
  scripts/install/nginx/nginx-create-directories.sh
  scripts/install/nginx/nginx-misc.sh
Labels: core, configuration, documentation, nginx

Workflow
  .github/workflows/enginescript-build-test.yml
Labels: automation

Updates
  CHANGELOG.md
  config/home/enginescript-install-options.txt
  scripts/install/enginescript-install.sh
  scripts/install/system-misc/digitalocean-software-install.sh
Labels: core, configuration, documentation

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
