Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml

Updates
  .github/workflows/enginescript-build-test.yml
  scripts/functions/alias/alias-debug.sh
Labels: core, automation

Updates
  .github/workflows/enginescript-build-test.yml
  CHANGELOG.md
Labels: automation, documentation

Updates
  .github/scripts/comment_old_auto_upgrade.py
  scripts/functions/alias/alias-debug.sh
  scripts/functions/auto-upgrade/emergency-auto-upgrade.sh
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
Labels: core, automation

Updates
  CHANGELOG.md
  scripts/functions/alias/alias-cache.sh
  scripts/functions/alias/alias-debug.sh
  scripts/functions/alias/alias-restart.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/functions/vhost/vhost-export.sh
  scripts/install/enginescript-install.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/tools/tools-install.sh
Labels: core, documentation, nginx

Updates
  CHANGELOG.md
  scripts/functions/alias/alias-debug.sh
  scripts/functions/backup/daily-database-backup.sh
  scripts/functions/backup/hourly-database-backup.sh
  scripts/functions/backup/weekly-wp-content-backup.sh
  scripts/functions/cron/checksums.sh
  scripts/functions/cron/uploads-php-scan.sh
  scripts/functions/security/wpscan.sh
  scripts/functions/vhost/vhost-export.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
  scripts/functions/vhost/vhost-remove.sh
  scripts/install/cron/cron-install.sh
  scripts/install/enginescript-install.sh
  scripts/install/gcc/gcc-install.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/mariadb/mariadb-tune.sh
  scripts/install/nginx/nginx-brotli.sh
  scripts/install/nginx/nginx-cloudflare-ip-updater.sh
  scripts/install/nginx/nginx-compile.sh
  scripts/install/nginx/nginx-create-directories.sh
  scripts/install/nginx/nginx-download.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/php/php-install.sh
  scripts/install/redis/redis-install.sh
  scripts/install/repositories/repositories-install.sh
  scripts/install/swap/swap-install.sh
  scripts/install/tools/media/pngout.sh
  scripts/install/tools/media/zimageoptimizer.sh
  scripts/install/tools/php/opcache-gui.sh
  scripts/install/tools/security/php-malware-finder.sh
  scripts/install/tools/system/admin-control-panel.sh
  scripts/install/tools/system/testssl-install.sh
  scripts/install/tools/tools-install.sh
  scripts/install/ufw/ufw-cloudflare.sh
  scripts/install/zlib/zlib-install.sh
  scripts/update/mariadb-update.sh
  scripts/update/nginx-update.sh
  setup.sh
Labels: core, security, documentation, backup, database, nginx, php

Updates
  CHANGELOG.md
  scripts/functions/vhost/vhost-import.sh
  scripts/install/nginx/nginx-tune.sh
  scripts/update/enginescript-update.sh
  scripts/update/php-config-update.sh
  scripts/update/software-update.sh
Labels: core, documentation, nginx, php

chore: update software versions
  .github/temp_versions.txt
  enginescript-variables.txt
Labels: core, automation

Updates
  .github/workflows/enginescript-updates.yml
  .github/workflows/script-validation.yml
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  scripts/functions/shared/enginescript-common.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
  scripts/functions/vhost/vhost-remove.sh
  scripts/install/enginescript-install.sh
  scripts/install/tools/system/amazon-s3-install.sh
Labels: core, automation, documentation

Delete .github/temp_versions.txt
  .github/temp_versions.txt
Labels: automation

Updates
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  README.md
  config/var/www/admin/control-panel/README.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  enginescript-variables.txt
  scripts/functions/alias/alias-help.sh
  scripts/functions/alias/alias-sites.sh
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/install/alias/enginescript-alias-install.sh
  scripts/install/tools/system/admin-control-panel.sh
  scripts/update/enginescript-update.sh
Labels: core, configuration, automation, documentation

Update
  scripts/update/enginescript-update.sh
Labels: none

Updates
  config/etc/nginx/admin/admin.localhost.conf
  config/etc/nginx/admin/admin.your-domain.conf
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  scripts/install/tools/system/admin-control-panel.sh
Labels: core, configuration, nginx

Updates
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Updates
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Potential fix for code scanning alert no. 14: Incomplete multi-character sanitization
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/README.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Updates
  config/var/www/admin/control-panel/README.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Updates
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration

updates
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  README.md
  config/etc/enginescript/uptimerobot.conf
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/filemanager.php
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/uptimerobot.php
  scripts/install/repositories/repositories-install.sh
  scripts/install/tools/system/admin-control-panel.sh
Labels: core, configuration, documentation

Updates
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  scripts/install/tools/system/admin-control-panel.sh
Labels: core, configuration, documentation

Updates
  CHANGELOG.md
  config/etc/enginescript/filemanager.conf
  config/etc/enginescript/uptimerobot.conf
  config/home/enginescript-install-options.txt
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/filemanager.php
  config/var/www/admin/control-panel/index.html
  scripts/functions/alias/alias-update-config.sh
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/functions/shared/reset-filemanager-password.sh
  scripts/functions/shared/update-config-files.sh
  scripts/install/enginescript-install.sh
  scripts/install/tools/system/admin-control-panel.sh
Labels: core, configuration, documentation

Updates
  scripts/functions/shared/update-config-files.sh
  scripts/install/tools/system/admin-control-panel.sh
Labels: core

Updates
  scripts/install/tools/system/admin-control-panel.sh
  scripts/update/enginescript-update.sh
Labels: core

Updates
  config/var/www/admin/control-panel/filemanager.php
  scripts/update/enginescript-update.sh
Labels: configuration

Updates
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  config/etc/enginescript/filemanager.conf
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/filemanager.php
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/tinyfilemanager/config.php
  enginescript-variables.txt
  scripts/functions/shared/reset-filemanager-password.sh
  scripts/functions/shared/update-config-files.sh
  scripts/install/tools/system/admin-control-panel.sh
  scripts/update/enginescript-update.sh
Labels: core, configuration, automation, documentation

Updates
  CHANGELOG.md
  config/etc/enginescript/filemanager.conf
  config/etc/enginescript/uptimerobot.conf
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/filemanager.php
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/uptimerobot.php
  scripts/functions/shared/reset-filemanager-password.sh
  scripts/install/tools/system/admin-control-panel.sh
Labels: core, configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/tinyfilemanager/config.php
  scripts/functions/shared/reset-filemanager-password.sh
  scripts/functions/shared/update-config-files.sh
  scripts/install/tools/system/admin-control-panel.sh
Labels: core, configuration, documentation
