Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

Update wpscan.sh
  scripts/install/tools/security/wpscan.sh
Labels: core

Fixes
  config/var/www/admin/control-panel/controllers/ExternalServicesController.php
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services-interactions.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update wpscan.sh
  scripts/install/tools/security/wpscan.sh
Labels: core

Improve error handling in wpscan installation script
  scripts/install/tools/security/wpscan.sh
Labels: core

Fix RubyGems installation command in wpscan.sh
  scripts/install/tools/security/wpscan.sh
Labels: core

Clarify comments regarding WPScan installation
  scripts/install/tools/security/wpscan.sh
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update wpscan.sh
  scripts/install/tools/security/wpscan.sh
Labels: core

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update wpscan.sh
  scripts/install/tools/security/wpscan.sh
Labels: core

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Change DB name validation regex to lowercase only
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update Font Awesome style prefixes to include 'thin'
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Add multipart public suffix support for domain parsing
  scripts/functions/vhost/vhost-install.sh
Labels: core

Refactor icon name and category handling logic
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update database name handling and credential file permissions
  scripts/functions/vhost/vhost-install.sh
Labels: core

Refactor toggle button text handling and sorting logic
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Refactor toggle button text update logic
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Enhance validation for database credentials and email
  scripts/functions/vhost/vhost-install.sh
Labels: core

Refactor comments for clarity and consistency
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Improve error messages and sorting function naming
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Enhance error handling and logging in external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Improve error logging and enhance save button method
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fix error handling for toggle button elements
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Refactor database name validation into a function
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
