Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/filemanager.php
  config/var/www/admin/control-panel/uptimerobot.php
  config/var/www/admin/tinyfilemanager/config.php
  scripts/install/tools/system/admin-control-panel.sh
Labels: core, configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/uptimerobot.php
Labels: configuration, documentation

Updates
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/install/tools/frontend/admin-control-panel-install.sh
  scripts/install/tools/frontend/phpinfo-install.sh
  scripts/install/tools/frontend/phpsysinfo-install.sh
  scripts/install/tools/frontend/tiny-file-manager.sh
  scripts/install/tools/frontend/uptimerobot-api-install.sh
  scripts/install/tools/tools-install.sh
  scripts/update/enginescript-update.sh
  setup.sh
Labels: core

Bug fix
  scripts/install/tools/frontend/tiny-file-manager-install.sh
  scripts/install/tools/tools-install.sh
Labels: core

Bug Fixes
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/update/enginescript-update.sh
Labels: core

Bug Fixes
  CHANGELOG.md
  enginescript-variables.txt
  scripts/functions/mariadb-diagnostic.sh
  scripts/install/mariadb/mariadb-tune.sh
Labels: core, documentation

Mariadb updates
  config/etc/mysql/my.cnf
  scripts/functions/alias/alias-debug.sh
  scripts/functions/mariadb-diagnostic.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/install/mariadb/mariadb-tune.sh
  scripts/update/mariadb-update.sh
Labels: core, configuration, database

Updates
  .github/workflows/software-version-check.yml
  README.md
Labels: automation, documentation

Updates
  .github/workflows/software-version-check.yml
Labels: automation

Updates
  .github/workflows/software-version-check.yml
Labels: automation

Update
  .github/workflows/software-version-check.yml
Labels: automation

Updates
  .github/workflows/software-version-check.yml
Labels: automation

chore: update software versions
  enginescript-variables.txt
Labels: core

Updates
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, automation, documentation

Update
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

chore: update software versions
  enginescript-variables.txt
Labels: core

Updates
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  config/etc/mysql/my.cnf
  scripts/functions/alias/alias-update-config.sh
  scripts/functions/shared/update-config-files.sh
  scripts/install/enginescript-install.sh
  scripts/install/mariadb/mariadb-tune.sh
  scripts/install/tools/frontend/admin-control-panel-install.sh
  scripts/install/tools/frontend/uptimerobot-api-install.sh
Labels: core, configuration, automation, documentation, database

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

chore: update software versions
  enginescript-variables.txt
Labels: core

chore: update software versions
  enginescript-variables.txt
Labels: core

Update dependabot.yml
  .github/dependabot.yml
Labels: automation, dependencies

Updates
  CHANGELOG.md
  composer.json
Labels: documentation

chore: update software versions
  enginescript-variables.txt
Labels: core

Update composer.json
  composer.json
Labels: none

Updates
  .github/workflows/software-version-check.yml
  composer.json
Labels: automation

chore: update software versions
  enginescript-variables.txt
Labels: core

Update
  .github/workflows/software-version-check.yml
Labels: automation

chore: update software versions
  enginescript-variables.txt
Labels: core

Updates
  .github/ci-config/enginescript-variables-ci.txt
  .github/pull_request_template.md
  .github/workflows/software-version-check.yml
  enginescript-variables.txt
  scripts/functions/alias/alias-debug.sh
  scripts/functions/alias/alias-server-info.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
  scripts/install/enginescript-install.sh
Labels: core, automation

Update
  enginescript-variables.txt
Labels: core

Update
  .github/workflows/software-version-check.yml
Labels: automation

Bug Fix
  scripts/functions/shared/update-config-files.sh
Labels: core

Mariadb 11.8 prep
  .github/workflows/software-version-check.yml
  scripts/functions/alias/alias-debug.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/update/mariadb-update.sh
Labels: core, automation, database

chore: update software versions
  enginescript-variables.txt
Labels: core

update
  .github/workflows/software-version-check.yml
Labels: automation

chore: update software versions
  README.md
  enginescript-variables.txt
Labels: core, documentation

Update
  .github/workflows/software-version-check.yml
Labels: automation

chore: update software versions
  README.md
  enginescript-variables.txt
Labels: core, documentation

Updates
  .github/workflows/software-version-check.yml
  README.md
Labels: automation, documentation

chore: update software versions
  README.md
  enginescript-variables.txt
Labels: core, documentation

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
