Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

Updates
  scripts/update/mariadb-update.sh
  scripts/update/nginx-update.sh
Labels: database, nginx

Updates
  scripts/update/mariadb-update.sh
  scripts/update/nginx-update.sh
Labels: database, nginx

PHP 8.4 & Openssl 3.5.x Series Prep
  .github/copilot-instructions.md
  .github/workflows/software-version-check.yml
  config/home/enginescript-install-options.txt
  config/var/www/admin/control-panel/api.php
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/install/nginx/nginx-compile.sh
  scripts/install/nginx/nginx-service.sh
  scripts/menu/update-menu.sh
  scripts/update/nginx-update.sh
  scripts/update/php-update.sh
  setup.sh
Labels: core, configuration, automation, nginx

chore: update software versions
  README.md
  enginescript-variables.txt
Labels: core, documentation

Control Panel Mobile Updates
  .github/copilot-instructions.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, automation

Admin Control Panel Protection
  .github/ci-config/enginescript-install-options-ci.txt
  config/etc/nginx/admin/admin.localhost.conf
  config/etc/nginx/admin/admin.your-domain.conf
  config/home/enginescript-install-options.txt
  scripts/functions/alias/alias-debug.sh
  scripts/functions/alias/alias-server-info.sh
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
  scripts/install/enginescript-install.sh
  scripts/install/nginx/nginx-admin-password.sh
  scripts/install/nginx/nginx-install.sh
  scripts/update/nginx-update.sh
Labels: core, configuration, automation, nginx

PHP Updates
  scripts/update/php-8.1-update.sh
  scripts/update/php-update.sh
Labels: php

Workflow Change
  .github/workflows/software-version-check.yml
Labels: automation

Openssl Config Changes
  CHANGELOG.md
  README.md
  config/etc/nginx/ssl/sslshared.conf
Labels: configuration, documentation, nginx

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Bug Fixes
  CHANGELOG.md
  composer.json
  scripts/update/php-update.sh
Labels: documentation

Bug Fixes
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
Labels: configuration, documentation

PHP 8.4
  .github/ci-config/enginescript-variables-ci.txt
  enginescript-variables.txt
Labels: core, automation

chore: update software versions
  enginescript-variables.txt
Labels: core

Bug Fixes
  CHANGELOG.md
  scripts/functions/cron/permissions.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/install/nginx/nginx-compile.sh
  scripts/install/nginx/nginx-install.sh
  scripts/install/nginx/nginx-misc.sh
  scripts/install/nginx/nginx-service.sh
  scripts/install/php/php-install.sh
  scripts/update/nginx-update.sh
  scripts/update/php-update.sh
Labels: core, documentation, nginx, php

Bug Fix
  .github/workflows/software-version-check.yml
  enginescript-variables.txt
  scripts/install/nginx/nginx-compile.sh
Labels: core, automation, nginx

Revert compile changes
  .github/ci-config/enginescript-variables-ci.txt
  .github/workflows/enginescript-build-test.yml
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  enginescript-variables.txt
  scripts/install/nginx/nginx-compile.sh
Labels: core, automation, documentation, nginx

chore: update software versions
  README.md
Labels: documentation

OpenSSL 3.5 Support
  .github/ci-config/enginescript-variables-ci.txt
  .github/workflows/software-version-check.yml
  README.md
  enginescript-variables.txt
  scripts/install/nginx/nginx-compile.sh
Labels: core, automation, documentation, nginx

Bug Fix
  .github/workflows/enginescript-build-test.yml
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  scripts/functions/shared/fix-api-security-log.sh
  setup.sh
Labels: core, configuration, automation, documentation

Removed File
  scripts/functions/shared/fix-api-security-log.sh
Labels: core

MariaDB Service Restart Policy Change
  CHANGELOG.md
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/install/mariadb/mariadb-install.sh
  scripts/update/mariadb-update.sh
Labels: core, documentation, database

Create summary.yml
  .github/workflows/summary.yml
Labels: automation

Updated SSL/TLS
  CHANGELOG.md
  config/home/enginescript-install-options.txt
  home/enginescript-install-options.txt
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
  scripts/install/mariadb/mariadb-tune.sh
Labels: core, configuration, documentation

Remove incorrect file
  home/enginescript-install-options.txt
Labels: none

Remove OCSP Stapling
  config/etc/nginx/ssl/sslshared.conf
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core, configuration, nginx

Update
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
Labels: core

mime-types
  config/etc/nginx/globals/mime-types.conf
Labels: configuration, nginx

chore: update software versions
  README.md
  enginescript-variables.txt
Labels: core, documentation

Updates
  CHANGELOG.md
  config/etc/nginx/globals/map-cache.conf
  config/etc/nginx/globals/response-headers.conf
  config/etc/nginx/nginx.conf
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
Labels: core, configuration, documentation, nginx

chore: update software versions
  README.md
  enginescript-variables.txt
Labels: core, documentation

Updates
  .github/copilot-instructions.md
  .github/workflows/software-version-check.yml
Labels: automation

Updates
  CHANGELOG.md
  config/etc/mysql/my.cnf
  config/etc/nginx/globals/map-cache.conf
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core, configuration, documentation, database, nginx

chore: update software versions
  README.md
  enginescript-variables.txt
Labels: core, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Test Mode
  config/home/enginescript-install-options.txt
  scripts/update/enginescript-update.sh
Labels: configuration

Bug Fixes
  CHANGELOG.md
  config/etc/mysql/my.cnf
  scripts/functions/auto-upgrade/normal-auto-upgrade.sh
Labels: core, configuration, documentation, database

Updates
  CHANGELOG.md
  config/etc/nginx/admin/admin.localhost.conf
  scripts/install/tools/media/pngout.sh
Labels: core, configuration, documentation, nginx

Update
  scripts/functions/php-clean.sh
Labels: core, php

Updates
  .github/workflows/software-version-check.yml
  CHANGELOG.md
  README.md
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core, automation, documentation

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
