Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml

Updates
  .github/workflows/test-sql-credentials.yml
  scripts/ci/test-sql-credentials.sh
  scripts/functions/shared/enginescript-db-credentials.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core, automation

Add WordPress installation prompt to vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Actions Updates
  .github/workflows/test-sql-credentials.yml
  enginescript-variables.txt
  scripts/ci/test-sql-credentials.sh
  scripts/functions/shared/enginescript-db-credentials.sh
  scripts/functions/vhost/vhost-import.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core, automation

Fix
  enginescript-variables.txt
Labels: core

Fixes
  config/var/www/admin/control-panel/external-services/external-services-api.php
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Minor fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Create pmd.yml
  .github/workflows/pmd.yml
Labels: automation

Add Dependency Review Action workflow
  .github/workflows/dependency-review.yml
Labels: automation

Create fortify.yml
  .github/workflows/fortify.yml
Labels: automation

Fix
  .github/workflows/pmd.yml
Labels: automation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services-utils.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Font Awesome Changes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Documentation
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update FontAwesome style prefix pattern
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update FontAwesome icon patterns comment
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Fixes
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Updates
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Remove 2026-04-17 changelog entry
  CHANGELOG.md
Labels: documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Update composer.json
  composer.json
Labels: none

Fix casing of PHP_CodeSniffer package name
  composer.json
Labels: none

Fix FontAwesome comment in external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration
