Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml

Readme Update
  README.md
Labels: documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

chore: update software versions
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  enginescript-variables.txt
Labels: core, automation, documentation

Updates
  .github/ci-config/enginescript-variables-ci.txt
  README.md
  config/etc/nginx/admin/admin.localhost.conf
  config/etc/nginx/globals/map-cache.conf
  enginescript-variables.txt
  scripts/install/nginx/nginx-admin-password.sh
Labels: core, configuration, automation, documentation, nginx

Updates
  CHANGELOG.md
  config/etc/nginx/admin/admin.localhost.conf
  config/etc/nginx/globals/dev-restrictions.conf
  config/etc/nginx/globals/purge-cache.conf
  config/etc/nginx/globals/static-files.conf
  config/etc/nginx/nginx.conf
  config/etc/nginx/ssl/sslshared.conf
  config/var/www/wordpress/wp-config.php
  scripts/functions/shared/enginescript-shared-vhost.sh
Labels: core, configuration, documentation, nginx

Updates
  CHANGELOG.md
  config/etc/nginx/globals/map-cache.conf
  config/home/enginescript-install-options.txt
  scripts/install/nginx/nginx-misc.sh
Labels: core, configuration, documentation, nginx

Updates
  .github/workflows/enginescript-build-test.yml
  scripts/functions/backup/daily-database-backup.sh
  scripts/functions/backup/hourly-database-backup.sh
  scripts/functions/backup/weekly-wp-content-backup.sh
  scripts/functions/cron/permissions.sh
  scripts/functions/shared/enginescript-common.sh
  scripts/install/depends/depends-install.sh
  scripts/install/enginescript-install.sh
  scripts/install/kernel/kernel-tweaks-install.sh
  scripts/install/redis/redis-install.sh
  scripts/install/tools/media/zimageoptimizer.sh
  scripts/install/tools/system/testssl-install.sh
  setup.sh
Labels: core, automation, backup, database

Control Panel Update
  .github/workflows/stale-issue.yml
  CHANGELOG.md
  config/etc/php/php.ini
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, automation, documentation, php

Contrl Panel Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration, documentation

Updates
  .github/workflows/stale-issue.yml
  CHANGELOG.md
  config/var/www/admin/control-panel/custom.css
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/style.css
Labels: configuration, automation, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
  scripts/functions/metrics/collect-metrics.sh
  scripts/install/metrics/setup-metrics.sh
Labels: core, configuration, documentation

Update
  config/var/www/admin/control-panel/api.php
Labels: configuration

Bug fixes
  .github/copilot-instructions.md
  scripts/functions/metrics/collect-metrics.sh
  scripts/install/metrics/setup-metrics.sh
  scripts/install/tools/frontend/admin-control-panel-install.sh
Labels: core, automation

Removes stats from dashboard
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/api.js
  config/var/www/admin/control-panel/modules/charts.js
  config/var/www/admin/control-panel/modules/state.js
  config/var/www/admin/control-panel/modules/utils.js
  scripts/functions/metrics/collect-metrics.sh
  scripts/install/metrics/setup-metrics.sh
  scripts/install/tools/frontend/admin-control-panel-install.sh
Labels: core, configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/charts.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/etc/nginx/admin/admin.your-domain.conf
  config/var/www/admin/control-panel/modules/api.js
Labels: configuration, documentation, nginx

Fixes
  CHANGELOG.md
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Fix
  config/var/www/admin/control-panel/dashboard.js
Labels: configuration

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Linting
  CHANGELOG.md
Labels: documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/charts.js
  config/var/www/admin/control-panel/modules/utils.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/utils.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Update
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/index.html
Labels: configuration

Update
  config/var/www/admin/control-panel/dashboard.css
Labels: configuration

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/state.js
Labels: configuration, documentation

Fixes
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/api.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
  config/var/www/admin/control-panel/modules/state.js
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  CHANGELOG.md
  config/var/www/admin/control-panel/api.php
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Update
  CHANGELOG.md
  config/var/www/admin/control-panel/index.html
Labels: configuration, documentation

Updates
  config/var/www/admin/control-panel/dashboard.css
  config/var/www/admin/control-panel/dashboard.js
  config/var/www/admin/control-panel/index.html
Labels: configuration
