Repository EngineScript/EngineScript, changes with the labels that .github/labeler.yml gives for each.
All labels: core, configuration, automation, security, documentation, backup, database, nginx, php, wordpress-plugins, dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Remove misleading CI error message fix entry
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update comment to reflect LRU eviction strategy
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update vhost-install.sh
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Document VHOST import bug fixes and improvements
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update external-services.js
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Improve error handling for Maldet installation
  scripts/install/tools/security/maldet.sh
Labels: core

Update wpscan.sh
  scripts/install/tools/security/wpscan.sh
Labels: core

Update maldet.sh
  scripts/install/tools/security/maldet.sh
Labels: core

Modify WPScan installation to always fetch latest version
  scripts/install/tools/security/wpscan.sh
Labels: core

Refactor cachedCardOrder to use 'this' context
  config/var/www/admin/control-panel/external-services/external-services.js
Labels: configuration

Enhance domain name and database validation
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Comment
  scripts/functions/vhost/vhost-install.sh
Labels: core

Fix comment
  scripts/functions/vhost/vhost-install.sh
Labels: core

Update maldet.sh
  scripts/install/tools/security/maldet.sh
Labels: core

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Labels PRs based on changed file paths

# Core system changes
core:
  - changed-files:
    - any-glob-to-any-file: scripts/install/**/*
    - any-glob-to-any-file: scripts/functions/**/*
    - any-glob-to-any-file: scripts/menu/**/*
    - any-glob-to-any-file: setup.sh
    - any-glob-to-any-file: enginescript-variables.txt
    
# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: config/**/*

# Workflows and automation
automation:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Security related changes
security:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/security/**/*
    - any-glob-to-any-file: SECURITY.md

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: README.md
    - any-glob-to-any-file: '*.md'

# Backup related changes
backup:
  - changed-files:
    - any-glob-to-any-file: scripts/functions/backup/**/*

# Database related changes
database:
  - changed-files:
    - any-glob-to-any-file: config/etc/mysql/**/*
    - any-glob-to-any-file: scripts/functions/backup/*database*
    - any-glob-to-any-file: scripts/update/mariadb-update.sh

# Nginx related changes
nginx:
  - changed-files:
    - any-glob-to-any-file: config/etc/nginx/**/*
    - any-glob-to-any-file: scripts/install/nginx/**/*
    - any-glob-to-any-file: scripts/update/nginx-update.sh
    - any-glob-to-any-file: patches/nginx/**/*

# PHP related changes
php:
  - changed-files:
    - any-glob-to-any-file: config/etc/php/**/*
    - any-glob-to-any-file: scripts/install/php/**/*
    - any-glob-to-any-file: scripts/update/php-*-update.sh
    - any-glob-to-any-file: scripts/functions/php-clean.sh

# WordPress plugins
wordpress-plugins:
  - changed-files:
    - any-glob-to-any-file: config/var/www/wordpress/plugins/**/*
    - any-glob-to-any-file: scripts/update/wp-cli-update.sh

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: .github/dependabot.yml
